---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import thumbnail from "../assets/profile-thumbnail.png";

import "../styles/base.css";
---

<Layout title="Testimonial Card">
  <main class="flex min-h-dvh justify-center bg-secondary pt-[200px]">
    <Card
      loading="eager"
      image={thumbnail}
      name="Sarah Dole"
      socialName="@sarahdole"
    >
      I've been searching for high-quality abstract images for my design
      projects, and I'm thrilled to have found this platform. The variety and
      depth of creativity are astounding!
    </Card>
  </main>
</Layout>

<style>
  main {
    --Linear-Page: linear-gradient(148deg, #f9fafb 8.89%, #d2d6db 100.48%);
    background: var(
      --Linear-Page,
      linear-gradient(148deg, #f9fafb 8.89%, #d2d6db 100.48%)
    );
  }
</style>
